/* CSS for AboutUs component */

.container.aboutus {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

h2 {
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h4 {
  color: #333;
}

p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Add any additional styles as needed */
